* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-around;
  border: 2px solid green;
  border-radius: 12px;
}

.cont {
  display: flex;
  width: 100%;
  gap: 15px;
  /* border: 2px solid red; */
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 10px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  gap: 20px;
  width: 270px;
  border: 2px solid green;
  border-radius: 20px;
  background-color: honeydew;
}

.todoPreview {
  display: flex;
  padding: 8px 22px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 22px;
}
.App {
  border: 2px solid rebeccapurple;
}
.addNote {
  width: 160px;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: rgb(179, 249, 206);
  border: none;
  cursor: pointer;
}
.infoBlock p {
    text-align: center;
  }
.modalBlock {
  position: absolute;
  width: 50%;
  top: 200px;
  left: 25%;

  background-color: aqua;
  opacity: 1;
  transition: opacity 0.3s;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.none {
  position: absolute;
  display: none;
  opacity: 0;
}

.buttons button {
  margin: 40px;
  padding: 15px;
  width: 150px;
  border-radius: 15px;
  border: none;
}
.todoItem {
  display: flex;
  padding: 20px;
  margin: 50px auto;
  width: 65%;
  flex-direction: column;
  gap: 10px;
  border: 2px solid green;
  border-radius: 25px;
}
.itemButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.done {
  text-decoration: line-through;
}
.addNotes {
  width: 100%;
}
.addNotes input {
  padding: 10px;
  margin: 6px;
  border-radius: 12px;
}
.addNotes button {
  padding: 10px;
  width: 85px;
  margin: 6px;

  border-radius: 12px;
  border: none;
  background-color: rgb(158, 245, 158);
}
.addNotesBlock {
  width: 100%;
}
.itemButtons button,
.myTask button {
  padding: 6px;
  width: 85px;
  border-radius: 20px;
  border: none;
  text-align: center;
}
.myTask {
  display: flex;
  justify-content: space-between;
  margin: "10px 0";
}
.myTask div {
  display: flex;
  gap: 10px;
}
.saveBtn {
  background-color: rgb(158, 245, 158);
}
.deleteBtn {
  background-color: rgb(240, 149, 149);
}
.redo,
.undo {
  background-color: rgb(249, 240, 165);
}

@media (max-width: 920px) {
  .buttons button {
    margin: 13px;
    padding: 13px;
    width: 150px;
    border-radius: 15px;
    border: none;
  }
}

@media (max-width: 760px) {
  .modalBlock {
    position: absolute;
    width: 50%;
    top: 200px;
    left: 25%;
    background-color: aqua;
    opacity: 1;
    transition: opacity 0.3s;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons button {
    margin: 7px;
    padding: 9px;
    width: 146px;
    border-radius: 15px;
    border: none;
  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .addNotesBlock {
    width: 100%;
    text-align: center;
  }
  .container {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
    border: 2px solid green;
    border-radius: 12px;
  }
  .infoBlock {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    gap: 7px;
    width: 100%;
    border: 2px solid green;
    border-radius: 20px;
    background-color: honeydew;
  }
  .todoItem {
    display: flex;
    padding: 20px;
    margin: 50px auto;
    width: 90%;
    flex-direction: column;
    gap: 10px;
    border: 2px solid green;
    border-radius: 25px;
  }
}
@media (max-width: 645px) {
  .modalBlock {
    position: absolute;
    width: 70%;
    top: 200px;
    left: 15%;
    background-color: aqua;
    opacity: 1;
    transition: opacity 0.3s;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons button {
    margin: 7px;
    padding: 9px;
    width: 178px;
    border-radius: 11px;
    border: none;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
